<template>
  <div class="application">
    <p class="title">{{ title }} </p>
    <p class="question" v-show="!cardStackFinished">Are you interested in {{ question }} ?</p>
    <p class="question" v-show="cardStackFinished">Please find your discount</p>
    <v-touch v-on:swipeleft="onSwipeLeft(activeItem)" v-on:swiperight="onSwipeRight(activeItem)" v-bind:pan-options="{ threshold: 2, velocity: 0.2 }">
        <img v-show="currentImage !== ''" ondragstart="return false" :src="getImgUrl()" :key="getImgUrl()" class="card cardOutline appear" :class='{ itemLiked: liked, itemDisLiked: disLiked }' />
    </v-touch>
    <div class="likeButtons">
      <font-awesome-icon :class="{ disLikeThumb: !cardStackFinished, buttonInActive: cardStackFinished }" class="thumb thumbLeft" v-on:click="onSwipeLeft(activeItem)" :icon="disLikeIcon" />
      <font-awesome-icon :class="{ likeThumb: !cardStackFinished, buttonInActive: cardStackFinished }" class="thumb thumbRight" v-on:click="onSwipeRight(activeItem)" :icon="likeIcon" />
    </div>
    <!-- <p class="stats"> Likes:{{ likes }} Dislikes:{{ disLikes }}</p> -->
  </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
import faThumbsUp from '@fortawesome/fontawesome-free-solid/faThumbsUp';
import faThumbsDown from '@fortawesome/fontawesome-free-solid/faThumbsDown';
import { LOAD_CHOICES } from '@/state/action-types';
export default {
  name: 'Swipe',
  data () {
    return {
      title: 'Limitless Swipe',
      likes: 0,
      disLikes: 0,
      activeItem: null,
      liked: false,
      disLiked: false,
      currentImage: '',
      question: ''
    };
  },
  methods: {
    onSwipeLeft: function (item) {
      console.log('LEFT');
      if (item) {
        this.disLikes++;
        this.disLiked = true;
        setTimeout(() => {
          if (item.dislikes !== null) {
            this.activeItem = item.dislikes;
            this.currentImage = this.activeItem.image;
            this.question = this.activeItem.question;
          } else {
            this.setRecommendation(item);
          }
          this.disLiked = false;
        }, 800);
      }
    },
    onSwipeRight: function (item) {
      console.log('RIGHT');
      if (item) {
        this.likes++;
        this.liked = true;
        setTimeout(() => {
          if (item.likes !== null) {
            this.activeItem = item.likes;
            this.currentImage = this.activeItem.image;
            this.question = this.activeItem.question;
          } else {
            this.setRecommendation(item);
          }
          this.liked = false;
        }, 800);
      }
    },
    setRecommendation: function (item) {
      this.activeItem = null;
      this.currentImage = item.recommendation;
      this.question = '';
    },
    getImgUrl: function () {
      var images = require.context('@/assets/images/', false, /\.jpg$/);
      return images('./' + this.currentImage);
    }
  },
  components: {
    FontAwesomeIcon
  },
  computed: {
    items: function () {
      return this.$store.getters.choices;
    },
    likeIcon () {
      return faThumbsUp;
    },
    disLikeIcon () {
      return faThumbsDown;
    },
    cardStackFinished: function () {
      return this.activeItem === null || this.activeItem === null;
    }
  },
  mounted: function () {
    this.$store.dispatch(LOAD_CHOICES);
  },
  watch: {
    items: function () {
      if (this.activeItem === null) {
        this.activeItem = this.items;
        this.currentImage = this.activeItem.image;
        this.question = this.activeItem.question;
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
/* Change for the different retail styling around the frontend app */
@import '~@/assets/scss/retailStyling.scss';
$cardHeight: 200px;
$cardWidth: 200px;

.application {
  margin: auto;
  width: 80%;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.appear {
  animation: fadein 0.5s ease-in;
}

.question {
  text-align:center;
}

.stats {
  text-align:center;
}

.title {
  text-align: center;
  font-weight: bold;
}

.thumb {
  font-size: 40px;
  border-radius: 50%;
  padding: 10px;
  background-color: white;
  margin: 0px 10px;
  cursor: pointer;
  &:active {
    -webkit-transform: scale(0.6);
    transition: all 0.2s;
  }
}

.buttonInActive {
  color: $disabledButtonColor;
  cursor: default;
  &:active {
    -webkit-transform: scale(1); //disable the click animation
  }
}

.likeButtons {
  width: $cardWidth + 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px
}

.card {
  height: $cardHeight;
  width: $cardWidth;
  border-radius: 4px;
  display: block;
  margin: auto;
}

.itemLiked, .itemDisLiked {
  opacity: 0;
  z-index: 20;
  transition: all 1s;
}

.itemLiked {
  transform: translate3d(150px, 0, 0) rotate3d(0,0,1,40deg);
}

.itemDisLiked {
  transform: translate3d(-150px, 0, 0) rotate3d(0,0,1,-40deg);
}

.thumbLeft {
  margin-left:25px
}

.thumbRight {
  margin-right:25px;
  float:right;
}
</style>
